:root{

    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --green:hsl(75, 94%, 57%);
    --grey-obs: hsl(0, 0%, 8%);
}

*{
    box-sizing: border-box;
    margin: 0%;
}

body{

    font-family: "Inter", sans-serif;
    background-color: hsl(0, 0%, 8%);
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil{

    background-color: hsl(0, 0%, 12%);
    width: 90%;
    max-width: 426px;
    border-radius: 10px;
    
}

.perfil_foto{

    transform: scale(.5);
    border-radius: 100px;
    display: block;
    margin: -25px auto 0;
}

.perfil_contenedor{

    text-align: center;
    
}

.perfil_nombre{

    color: hsl(0, 0%, 100%);
    font-size: 1.6em;
    margin-top: -25px;
}

.perfil_ubicacion{

    color: hsl(75, 94%, 57%);
    font-size: .9em;
    margin-top: 10px;

}

.perfil_texto{

    color: hsl(0, 11%, 78%);
    font-size: .9em;
    margin: 20px 0 15px;
}


.perfil_nav{

    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 30px auto;




}

.perfil_boton{

    width: 100%;
    color: var(--white);
    background-color: var(--grey);
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.perfil_boton:hover{

    background-color: var(--green);
    color: var(--grey-obs);
    font-weight: 600;
}   






